{% extends "web/base.html" %}

{% block body %}
    <p>
        Select the date and the time in order to see bookings.
    </p>
    {% if error %}
        <div class="alert alert-danger" role="alert">
          Error: {{ error }}
        </div>
    {% endif %}
    <form class="form-inline" method="post" action="search">
        {% csrf_token %}
      <label class="sr-only" for="txtDate">Date</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
              <i class="far fa-calendar-alt"></i>
          </div>
        </div>
        <input type="text" class="form-control dateTimePicker" name="date" {% if date != None %}value="{{ date }}"{% endif %} >
      </div>

      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>

    {% if tables %}
        <div>
            <table class="table table-bordered table-striped">
                <caption>Dinner room availability</caption>
                <thead>
                    <td width="15%"></td>
                    {% for id, table in tables.items %}
                        <td width="7%">{{ id }}</td>
                    {% endfor %}
                    <td width="15%"></td>
                </thead>
                <tbody>
                    <tr>
                        <td>FREE?</td>
                        {% for id, availability in tables.items %}
                            <td class="{% if availability.available %}available{% else %}ocupied{% endif %}">
                                {% if not availability.available %}
                                    <div class="text-center delete-booking">
                                        <a class="confirm" href="/bookings/{{ availability.booking_id }}/delete">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td class="text-center">
                            <a href="bookings/new?date={{ date}}">
                                <button class="btn btn-primary btn-sm">New</button>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    {% endif %}

    {% include "web/bookings/details.html" %}

{% endblock %}
