{% extends "web/base.html" %}

{% block body %}
    <h3>Contact information</h3>
    <div class="contact">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success"><i class="fas fa-at"></i>: cyrusnimda@gmail.com</li>
            <li class="list-group-item list-group-item-success"><i class="fab fa-bitbucket"></i>: cyrusnimda</li>
            <li class="list-group-item list-group-item-success"><i class="fab fa-stack-overflow"></i>: cyrusnimda</li>
            <li class="list-group-item list-group-item-success"><i class="fas fa-phone"></i>: 07*** **8914</li>
            <li class="list-group-item list-group-item-success"><i class="fab fa-linkedin"></i>: <a href="https://www.linkedin.com/in/josu-ruiz-63b2453b/">Josu Ruiz</a> </li>
        </ul>
    </div>

{% endblock %}
